.mar-b-sm {
  margin-bottom: 2rem !important;
}
.mar-b-md {
  margin-bottom: 4rem !important;
}
.mar-b-lg {
  margin-bottom: 8rem !important;
}
.mar-b-hg {
  margin-bottom: 10rem !important;
}

.text-center {
  text-align: center;
}
