.feature {
  padding: 1%;

  &__icon {
    font-size: 6rem;
    display: block;
    color: $color-primary;
    margin-bottom: 1rem;
  }
  &__heading {
    margin-bottom: 1.5rem;
  }

  &__details {
    line-height: 145%;
    font-size: 1.8rem;
  }
}
