/*colors*/
$color-primary: #e67e22;
$color-primary-dark: #cf6d17;
$color-white: #fff;
$color-black: #000;

/*GRID*/
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

/*FONT*/
$default-font-size: 1.6rem;
